.buttonCart{
    color: #ffc107;
    background: linear-gradient(45deg, #f00d0d, #0d6efd)
}

.buttonStart{
    color: #f3f118;
}

.buttonProducts{
    color: #ec1187;
}

.buttonInstructions{
    color:rgb(0, 183, 255)
}

.buttonContact{
    color: #fffffd;
}