.botones-hero{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.fw-light{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.titulo-cards{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
  } */
  
  .lead, p {
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito', sans-serif;
    
  }
  .card-img{
    height: 15rem;
  }
  
  

/* algunas letras posibles

Montserrat:

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
font-family: 'Montserrat', sans-serif;

Roboto:

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
font-family: 'Roboto', sans-serif;

Lato:

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
font-family: 'Lato', sans-serif;

Open Sans:

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
font-family: 'Open Sans', sans-serif;

Poppins:

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
font-family: 'Poppins', sans-serif;

Source Sans Pro:

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
font-family: 'Source Sans Pro', sans-serif;

Nunito:

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
font-family: 'Nunito', sans-serif; */